
.hero-img{
    background-image: url(./assets/img/banner.png);
    width: 100%;
    background-color: black;
}
.hero-bg__color{
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-logo{
    width: 186px;
    height: 40px;
}

.container {
    max-width: 768px;
    margin: auto;
}